/* Reset default browser styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body styles */
body {
    font-family:'Courier New', Courier, monospace;
    background-color: #243453;
}

/*logo styles*/
.logo img {
    width: 50%;
    margin-top: 40px;
    margin-left: 25%;
    margin-right: 25%;
}

/*text styles*/
.welcome, .success, #actionButtons {
    margin-top: 100px; 
    margin-left: 50px;
    margin-right: 50px;
    text-align: center;
    font-size: small;
    font-family:'Courier New', Courier, monospace;
    color: #fff;
}


/*button styles*/
.button-container {
    display: flex;
    justify-content: center; /* Center horizontally */
    margin-top: 50px;
}
.button-container button {
    padding: 15px 30px; /* Adjust button size */
    font-size: 18px; /* Adjust font size */
    line-height: 1; /* Align text vertically */
    background-color: #839af4;
    font-family:'Courier New', Courier, monospace;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.button, .signup-button, .submit-button {
    padding: 15px 30px; /* Adjust button size */
    font-size: 18px; /* Adjust font size */
    line-height: 1; /* Align text vertically */
    background-color: #839af4;
    font-family:'Courier New', Courier, monospace;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.participant-link {
    color: white; 
    text-decoration: underline; /* Add underline */
}

#eventDetails {
    margin-bottom: 20px; /* Add margin at the bottom of the table */
}

#actionButtons {
    margin-top: 20px; /* Add margin at the top of the action buttons */
}

#actionButtons button {
    padding: 15px 30px; /* Adjust button size */
    font-size: 18px; /* Adjust font size */
    line-height: 1; /* Align text vertically */
    background-color: #839af4;
    font-family:'Courier New', Courier, monospace;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

 /* for tables */
th, td {
    padding: 10px;
    font-size: 18px;
    font-family: 'Courier New', Courier, monospace;
    color: #fff;
}

tr {
    font-size: 18px;
    font-family: 'Courier New', Courier, monospace;
    color: #ffffff;
}

th:first-child, td:first-child {
    width: 40%; /* Adjust width of the event name column */
}

th:nth-child(2), td:nth-child(2) {
    width: 30%; /* Adjust width of the date column */
}

th:nth-child(3), td:nth-child(3) {
    width: 30%; /* Adjust width of the signup button column */
}

#eventsList {
    list-style: none;
    padding: 0;
    font-size: large;
    font-family:'Courier New', Courier, monospace;
    color: #ffffff;
}

.event-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px; /* Adjust spacing between list items */
}

.event-name {
    flex: 1; /* Allow event name to take up remaining space */
} 

/* Container styles */
.container {
    max-width: 800px;
    margin: 20px auto;
    background-color: #243453;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: left;
    font-size: medium;
    font-family:'Courier New', Courier, monospace;
    color: #fff;
}

/* List styles */
#eventsList {
    margin-top: 100px;
    margin-left: 50px;
    margin-right: 50px;
    background-color: #243453;
    text-align: left;
    font-size: medium;
    font-family:'Courier New', Courier, monospace;
    color: #fff;
}

/* Form styles */
form {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"],
input[type="email"],
select,
textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

/* Popup container */
.popup {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Popup content */
.popup-content {
    background-color: #fefefe;
    margin: 10% auto; /* 10% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}

/* Close button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/*
input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #45a049;
}
*/
